# chicken.cfg for Fli3d ESP32
#
# wifi LAN settings
#
wifi_enable=1           
wifi_sta_enable=1       
wifi_ssid=fli3d
wifi_password=dilasat9
ntp_server=ntp.telenet.be
#
# wifi access point by Fli3d ESP32
#
wifi_ap_enable=1  
ap_ssid=fli3d_esp32
ap_password=fli3d_backdoor
#
# ftp server by Fli3d ESP32
#
# encoding options for ftp_fs:
# LITTLEFS: 1
ftp_enable=1
ftp_fs=1
ftp_user=esp32
ftp_password=fli3d
#
# send debug data over UDP
#
wifi_udp_enable=0 
udp_server=192.168.5.1
udp_port=4242
#
# send CCSDS data over UDP
#
wifi_yamcs_enable=1   
yamcs_server=192.168.5.1
yamcs_tm_port=10042
yamcs_tc_port=10052
#
# file system
#
# encoding options for buffer_fs:
# LITTLEFS: 1
fs_enable=1
buffer_fs=1
#
# sensor sampling rates
#
radio_rate=1
pressure_rate=1
motion_rate=1
gps_rate=1
#
# functionality initialisation
#
radio_enable=0     
pressure_enable=1       
motion_enable=1         
gps_enable=1            
camera_enable=1
temperature_enable=1
#
# serial communications settings
#
# encoding for serial_format:
# CCSDS: 0
# JSON:  1
serial_format=0
#
# sensor settings
#
mpu_accel_range=3
mpu_gyro_range=2
mpu_accel_sensitivity=595
mpu_accel_offset_x=2423
mpu_accel_offset_y=-1000
mpu_accel_offset_z=582
motion_udp_raw_enable=0
gps_udp_raw_enable=0
#
# other settings
#
ota_enable=1
# END OF CONFIGURATION FILE